    // Output
    get_time (begin);
    fprintf( stdout, "sparse? %s\n",
	     ( is_sparse && !force_dense ) ? "yes" : "no" );
    fprintf( stdout, "iterations: %d\n", kmeans_op.num_iterations() );

    fprintf( stdout, "within cluster SSE: %11.4lf\n", kmeans_op.within_sse() );

    std::ofstream of( FILE_PARAM1, std::ios_base::out );
    kmeans_op.output( of );
    of.close();
