
    get_time( begin );
    if( !FILE_PARAM1 )
	; // skip output
    else if( !strcmp( FILE_PARAM1, "-" ) ) {
	kmeans_op.output( std::cout );
    } else {
	std::ofstream of( FILE_PARAM1, std::ios_base::out );
	kmeans_op.output( of );
	of.close();
    }
    get_time( end );
    print_time("output", begin, end);

