       {
           // Build up catalog for each file using a map
           word_map_type wmap;
           asap::word_catalog( std::string(*std::next(dir_list.cbegin(),i)),
                               wmap ); // catalog[i] );
           // Convert file's catalog to a (sorted) list of pairs
           catalog[i].reserve( wmap.size() );    // avoid re-allocations
           catalog[i].insert( std::move(wmap) ); // move out wmap contents
       } // delete wmap
